body{
    
    margin: 0px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(31, 30, 29);
    align-items: center;
    z-index:100;
   
    
}

#logo{
    height: 40px;
}

a:-webkit-any-link{
    text-decoration: none;
}


.button_mediano{
    height: 40px;
    width: 200px;
    margin-right: 20px;
    border-radius: 20px;
    border-bottom: 0px;
    border-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Bree Serif', serif;
}

header input{
    width: 100%;
    padding: 20px;
    margin: 5px;
    font-size: 20px;
}

p{
    font-size: 25px;
    font-family: 'Bree Serif', serif;
}

ul{

    display: flex;
    flex-direction: row;
    color: white;
    font-family: 'Bree Serif', serif;
    list-style: none;

}

li{
    padding-left: 10px;
    padding-right: 10px;
    
}

a{
    color: white;
}

/*prueba*/

.categorias {
  position: relative;
  display: inline-block;
  font-family: 'Bree Serif', serif;
}

.lista-categorias {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 210px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.lista-categorias a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.lista-categorias a:hover {
    background-color:rgb(89, 92, 91);
    color: white;

}

.categorias:hover .lista-categorias {
    display: block;
}



/*fin prueba*/


#buscador{
    position: absolute;
    top: 50px;
    margin-top: 50px;
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#buscador input{
    width: 30%;
    height: 50px;
    border-radius: 25px;
    border: 0px;
    background-color: rgb(89, 92, 91);
    color: white;
    font-size: 20px;
    padding-left: 20px;
}

::placeholder{
    
    color: white;
    font-size: 20px;
}

#buscador button{
    min-width: 10%;
    margin-left: 5%;
    background-color: white;
    border: 3px solid black;
    font-size: 20px;

}

#dashboard{
    position: absolute;
    top: 150px;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dashboard #imagenes{
    
    margin-top: 50px;
    margin-bottom: 50px;
    width: 500px;
    width: 500px;
    border: 3px solid black;

}

#dashboard img{
    width: 500px;
    width: 500px;

}

#imagenes{
    display: flex;
    flex-direction: row;
    border: 0px;
}

#opciones img{
    width: 40px;
    height: 40px;
    padding-left: 15px;
    
}
#error-contenedor{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#error{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 40px;
}

#description{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 40px;
}

#escape{
    background-color: white;
    width: 200px;
    height: 40px;
    border: 2px solid black;
}

#escape a{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}