body{
    
    margin: 0px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(31, 30, 29);
    align-items: center;
    z-index:100;
   
    
}

#logo{
    height: 40px;
}

a:-webkit-any-link{
    text-decoration: none;
}


.button_mediano{
    height: 40px;
    width: 200px;
    margin-right: 20px;
    border-radius: 20px;
    border-bottom: 0px;
    border-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Bree Serif', serif;
}

header input{
    width: 100%;
    padding: 20px;
    margin: 5px;
    font-size: 20px;
}

p{
    font-size: 25px;
    font-family: 'Bree Serif', serif;
}

 header ul{

    display: flex;
    flex-direction: row;
    color: white;
    font-family: 'Bree Serif', serif;
    list-style: none;

}

header li{
    padding-left: 10px;
    padding-right: 10px;
    
}

header a{
    color: white;
}

/*prueba*/

.categorias {
  position: relative;
  display: inline-block;
  font-family: 'Bree Serif', serif;
}

.lista-categorias {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 210px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.lista-categorias a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.lista-categorias a:hover {
    background-color:rgb(89, 92, 91);
    color: white;

}

.categorias:hover .lista-categorias {
    display: block;
}

.cuerpo{
    position: absolute;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
}

.info{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.detalles{
    padding-left: 100px;
}

.detalles p{
    font-size: 20px;
}

.info img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: 0px 0px 28px 3px rgba(23, 91, 100, 0.479);
    
}

.menu-perfil ul{
    position: fixed;
    top: 40vh;
    left: 15vw;
    list-style: none;
    
}

.menu-perfil li{
    padding: 10px;
}

.menu-perfil li a{
    color: black;
    
    font-family: 'Bree Serif', serif;
    font-size: 15px;
}

.resumen{
    padding-top: 40px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-archivos{
    display: flex;
    flex-direction: column;
}

.movie{
    width: 400px;
    height: 400px;
}



.menu-archivos img{
    width: 400px;
    height: 400px;
    margin-bottom: 0px;
    box-shadow: 0px 0px 28px 3px rgba(23, 91, 100, 0.479);
    margin: 10px;
}

#subir{
    padding-top: 40px;
    display: flex;
    width: 100vw;
    justify-content: center;
    
}

#subir form{
    box-shadow: 0px 0px 28px 3px rgba(23, 91, 100, 0.479);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


input{
    font-size: 20px;
}

input[type="file"]{
    background-color: white;
}

button {
    margin-top: 20px;
    font-size: 20px;
    background-color: white;
    width: 150px;
    border: 0px;
    box-shadow: 0px 0px 28px 3px rgba(23, 91, 100, 0.479);
    
}

#textoBoton{
    color: black;
}


#boton{
    margin-top: 20px;
    background-color: white;
    width: 300px;
    border: 2px solid black;
    
}

table{
    width: 40vw;
}


/*editar*/
#contenedor{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#formEditar p{
    display: flex;
    justify-content: space-between;
}


/*estilo seguimiento*/

.seguimiento__container{
    display: flex;
    justify-content: center;
    
}

.seguimiento__container p{
    padding-left: 10px;
    padding-right: 10px;
}


#oculto{
    width: 0;
    height: 0;
}

/*botones seguir*/
.boton__seguir{
    display: flex;
    justify-content: center;
}

.boton__seguir input{
    -webkit-box-shadow: 0px 0px 28px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 28px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 28px 1px rgba(0,0,0,0.75);
    background-color:white;
    border: 2px solid black;
    width: 100px;
}

/*ventana MOdal*/

.modal-contenido{
    background-color:rgba(0, 0, 0, 0.712);
    width:80%;
    height: 80%;
    padding: 10px 20px;
    top: 10%;
    left: 10%;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 28px 1px rgba(0, 0, 0, 0.931);
  }

.modalMovie{
    width: 100%;
    height: 100%;
    margin-left: 25%;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 28px 3px rgba(0,0,0,0.75);
}

.comentarioFlotante{
    position: fixed;
    top: 87%;
    left: 87%;
    
}

.comentarioFlotante img{
    box-shadow: none;
}


.imag{
    width: 100%;
    height: 100%;
    margin-left: 25%;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 28px 3px rgba(0,0,0,0.75);
}

.comment{
    height: 100%;
    margin-left: 30%;
    width: 30%;
    background-color: White;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment p{
    color: black;
}

#formComment{
    height: 100%;
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.botonSalir img{
    position: fixed;
    left: 89%;
    top:12%;
    border: 0px solid black;
    
}

.botonSalirVideo img{
    position: fixed;
    left: 89%;
    top:12%;
    border: 0px solid black;
    box-shadow: 0px 0px 28px 3px rgba(225, 230, 229, 0.75);
    border-radius: 11px;
    background-color: white;
    
    
}

.flechaIzquierda{
    
    position: fixed;
    top: 45%;
    left: 5%;
    
}
.flechaIzquierda img{
    border-radius: 20px;
    width: 50px;
    height: 50px;
    border: 0px;
    box-shadow: 0px 0px 28px 3px rgba(51, 104, 97, 0.75);
}


.flechaDerecha{
    position: fixed;
    top: 45%;
    left: 95%;
    border-radius: 40px;
    
}
.flechaDerecha img{
    box-shadow: 0px 0px 28px 3px rgba(51, 104, 97, 0.75);
    border-radius: 40px;
    width: 50px;
    height: 50px;
    border: 0px;
    
}

.botonesMultimedia{
    display: flex;
    position: absolute;
    top: 90%;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.botonesMultimedia img{
    width: 50px;
    height: 50px;
    box-shadow: 0em;
    border-radius: 25px;
}

.modal{
    background-color: rgba(0,0,0,.8);
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
  }
.modal:target{
    opacity:1;
    pointer-events:auto;
  }