

.container{
    position: absolute;

    top: 200px;
    left: 40vw;
    width: 400px;
    
}

.container__elemento{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    margin-bottom: 20px;

}

.container__elemento img{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 50px;
}

#casillas{
    color: black;
}

.info{
    padding-left: 40px;
    padding-right: 10px;
}


#descripcion{
    font-size: 15px;
}